body{
    background: #dddddd;
}
/* Cabeçalho e menu*/
#topo{
    width: 100%;
    background-color: rgb(255, 180, 0);
    padding: 1.5rem 0 3rem 0;
}
#topo h1, span{
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 2rem;
}
#topo span, .menu a{
    color: white;
    text-decoration: none;
}
.menu ul{
    text-align: center;
}
.menu ul li{
    display: inline;
    align-items: center;
}
.menu ul li a{
    padding: 0.5rem 1rem;
    font-weight: 500;
}
.menu ul li a:hover{
    background-color: white;
    color: rgb(255, 180, 0);
    font-weight: 700;
    border-radius: 1rem 0;
}
.rodape{
    background: rgb(255, 180, 0);
    padding: 2rem;
}
.rodape p{
    text-align: center;
    font-style: italic;
    font-weight: 500;
}

main section{
    width: 900px;
    display: flex;
    margin: 1rem auto;
}
#corpo{
    margin: 1rem ;
    background: white;
    padding: 0.5rem;   
}
figure h2{
    color: rgb(255, 180, 0);
    font-size: 1.1rem;
    font-weight: bold;
}
figure h3{
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
figure img{
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 0.5rem;
}
figcaption p a{
    color: rgb(255, 180, 0);
    text-decoration: none;
}
figcaption p a:hover{
    color: rgb(255, 145, 0);
    text-decoration: underline;
    font-weight: bold;
}